body{
    display: flex;
    /* flex-direction: column; */
    /* width: 100%;
    min-height: 100%; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
}
#playground{
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 2%;
    
}
.players{
    /* display: flex;
    flex-direction: column; */
    flex-grow: 1;
    align-items: center;
}
.scoreboard{
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score{
    padding: 0 5px;
    background-color: white;
    height: 50%;
    font-weight: 800;
    font-size: large;
    text-align: center;
    padding-top: 5px;
}
.buttonSection{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
}
#playerOne{
    background-color: green;
}
#playerTwo{
    background-color: purple;
}
.playArea{
    display: flex;
    align-items: center;

}
#timeout{
    background-color: grey;
    color: white;
    margin-bottom: 50px;
    display: block;
    
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
.hidden{
    visibility: hidden;
}
.playable{
background-color: aquamarine;
}
.playless{
background-color: red;
}